@using Bakery.Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <a href="/home/login">login</a>
  <a href="/home/register">register</a>
  <a href="/flavors/index">flavors index</a>
  <a href="/treats/index">treats index</a>
</div>
