@model IEnumerable<Bakery.Models.Flavor>
@using Bakery.Models

<h2>Flavors</h2>

@foreach (Flavor flavor in Model)
{
  <li>
    @flavor.Name -
    @Html.ActionLink("Edit", "Edit", new { id = flavor.FlavorId }) |
    @Html.ActionLink("Details", "Details", new { id = flavor.FlavorId })
  </li>
}

@Html.ActionLink("Add New Flavor", "Create")